:root {
  --nav-color: rgba(151, 205, 229, 0.89);
  --nav-color-hover: rgb(112, 104, 105);
  --nav-border-color: rgb(112, 104, 105);
  --light-color: rgb(201, 224, 245);
  --font-color: rgb(255, 255, 255);
  --font-color-hover: hsl(0, 0%, 64%);
}
